.todo-text {
  width: 400px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: #80bdff;
}
.todo-btn {
  margin-left: 50px;
  width: 200px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: #80bdff;

}
.edit-btn {
  margin-left: 20px;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: #80bdff;
}
.remove-btn {
  margin-left: 20px;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: #80bdff;
}
.edit-input {
  margin-left: 20px;
  width: 200px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: #80bdff;
}
.submit-btn {
  margin-left: 20px;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: #80bdff;
}